<div class="filter-container">
    <h2>Filter Missions</h2>
    <form>
      <label for="year">Launch Year:</label>
      <select name="year" id="year" [(ngModel)]="selectedYear" (ngModelChange)="filterMissionsByYear()">
        <option value="">-- Select a year --</option>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
      <button type="button" class="btn btn-primary" (click)="clearFilters()">Clear Filters</button>
    </form>
  </div>
  
  <div class="mission-list">
    <h2>Missions</h2>
    <div class="mission-item" *ngFor="let mission of filteredMissions">
      <img [src]="mission.mission_patch_small" alt="Mission Patch">
      <div class="mission-details">
        <h3>{{ mission.mission_name }}</h3>
        <p>Launch Year: {{ mission.launch_year }}</p>
        <p>{{ mission.details }}</p>
      </div>
    </div>
  </div>
  