<div mat-dialog-content class="dialog">
    <img src="{{ mission.links.mission_patch_small }}" alt="Mission Patch" style="display:inline-block; float:left; margin-right:20px; width: 180px;">
    <div style="display:inline-block;">
        <h1>Mission - {{ mission.mission_name }}</h1>
        <p>Mission Id: {{ mission.mission_id}}</p>
        <p>Launch Year: {{ mission.launch_year }}</p>
        <h2>Rocket</h2>
        <p>Name: {{ mission.rocket.rocket_name }}</p>
        <p>Type: {{ mission.rocket.rocket_type }}</p>
    </div>
    <br><br>
    <h3>Launch site :</h3>
    <p>{{mission.launch_site.site_name_long}}</p>
    <h3>Launch Details</h3>
    <P>{{mission.details}}</P>

    <br>
</div>